server {
	listen <%= @port %> default_server;
	listen [::]:<%= @port %> default_server ipv6only=on;

	root <%= @root_directory %>;
	index <%= @index %>;

	server_name <%= @servername %>;

	location / {
	    rewrite .* /index.php;
	}

	location ~ \.php$ {
	    fastcgi_pass <%= @fastcgi_pass %>;
	    fastcgi_index index.php;
	    include fastcgi_params;
	    fastcgi_param SCRIPT_FILENAME <%= @script_filename %>;
	    fastcgi_param SCRIPT_NAME <%= @script_filename %>;
	}
}
